
  
  <mat-toolbar color="primary">
    <span class="logo">📊 Statistiques des Événements</span>
  </mat-toolbar>
  
  <div class="chart-container">
    
    
    <!-- Conteneur pour les graphiques -->
    <div class="charts-grid">
      <!-- Graphique des tickets par type -->
      <div class="chart-card">
        <h3 class="chart-title">Tickets par type</h3>
        <canvas id="ticketsByTypeChart"></canvas>
      </div>
  
      <!-- Graphique des participants par événement -->
      <div class="chart-card">
        <h3 class="chart-title">Participants par événement</h3>
        <canvas id="usersPerEventChart"></canvas>
      </div>
  
      <!-- Graphique des meilleurs événements -->
      <div class="chart-card">
        <h3 class="chart-title">Top événements</h3>
        <canvas id="topEventsChart"></canvas>
      </div>
  
      <!-- Graphique des tickets par statut -->
      <div class="chart-card">
        <h3 class="chart-title">Tickets par statut</h3>
        <canvas id="ticketsByStatusChart"></canvas>
      </div>
    </div>
  </div>
  