<section>

<div class="container">
  <div class="left">
    <div class="logo">
      <img src="logo.png" alt="">
    </div>

    <div class="center-text">
      <h3>Hey There!</h3><br>
      <p>Welcome Back</p>
      <p>You are just one step away to your feed</p>
    </div>

    <div class="sign-up">
      <p>Don't have an account?</p>
      <br>
      <button (click)="goToTarget()">Sign Up</button>
    </div>
  </div>

  <div class="right">
    <div class="sign-in">
      <h3>SIGN IN</h3>
    </div>

    <form (ngSubmit)="onSubmit()" class="login-form">
      <div class="input-group">
        <input
          type="name"
          id="name"
          [(ngModel)]="credentials.name"
          name="name"
          placeholder="Username"
          required
        />

        <input
          type="password"
          id="password"
          [(ngModel)]="credentials.password"
          name="password"
          placeholder="Password"
          required
        />

        <div class="options">
          
          <a href="#" class="forgot-password">Forgot Password?</a>
        </div>

        <div class="btn1">

        <button type="submit" class="btn-primary">Sign In</button>
<br>
        <p>Or, use social media to sign in</p>
      </div>
        <div class="social-icons">
          <a href="https://fr-fr.facebook.com/"><img src="facebook.png" alt="Facebook" /></a>
          <a href="#"><img src="twitter.png" alt="Twitter" /></a>
          <a href="https://www.instagram.com/"><img src="instagram.png" alt="LinkedIn" /></a>
        </div>
      </div>
    </form>
  </div>
</div>
  
</section>