<div>
<h2>Liste des événements</h2>
    <div *ngIf="events.length === 0">Aucun événement trouvé.</div>
    <ul>
      <li *ngFor="let event of events">
        <div class="event-card">
          
            <img 
  [src]="getPhotoUrl(event.photo)" 
  alt="Photo de {{ event.title }}" 
  class="event-image" 
/>
          
          <h3>{{ event.title }}</h3>
          <p><strong>Description :</strong> {{ event.description }}</p>
          <p><strong>Date :</strong> {{ event.date | date: 'dd/MM/yyyy' }}</p>
          <p><strong>time :</strong> {{ event.time }}</p>
          <p><strong>Lieu :</strong> {{ event.location }}</p>
          <p><strong>Capacité :</strong> {{ event.maxCapacity }}</p>
          <p><strong>type :</strong> {{ event.type }}</p>
          <p><strong>theme :</strong> {{ event.theme }}</p>
          <button (click)="editEvent(event.id)">Modifier</button>
          <button (click)="deleteEvent(event.id)">Supprimer</button>
        </div>
      </li>
    </ul>
  </div>
  