<section>
  <div class="container">
    <div class="left">
      <div class="logo">
        <img src="logo.png" alt="">
      </div>

      <div class="center-text">
        <h3>Hey There!</h3><br>
        <p>Welcome Back</p>
        <p>You are just one step away to your feed</p>
      </div>

      <div class="sign-up">
        <br>
        <button (click)="goToTarget()">Sign IN</button>
      </div>
    </div>

    <div class="right">
      <div class="sign-in">
        <h3>SIGN UP</h3>
      </div>

      <form (ngSubmit)="onSubmit()" class="register-form">
        <div class="input-group">
          <label for="name">Name</label>
          <input
            type="text"
            id="name"
            [(ngModel)]="user.name"
            name="name"
            placeholder="Username"
            required
          />
        </div>

        <div class="input-group">
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            [(ngModel)]="user.email"
            name="email"
            placeholder="exemple@domaine.com"
            required
          />
        </div>

        <div class="input-group">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            [(ngModel)]="user.password"
            name="password"
            placeholder="Your Password"
            required
          />
        </div>

        <!-- Correction de la fermeture ici -->
        <div class="signup1">
          <button type="submit" class="btn-primary">SignUp</button>
          <br>
          <p>Or, use social media to sign in</p>
        </div>

        <div class="social-icons">
          <a href="https://fr-fr.facebook.com/"><img src="facebook.png" alt="Facebook" /></a>
          <a href="#"><img src="twitter.png" alt="Twitter" /></a>
          <a href="https://www.instagram.com/"><img src="instagram.png" alt="LinkedIn" /></a>
        </div>

      </form>
    </div>
  </div>
</section>
